<div class="sentence question">
    <strong><%= @question %></strong>
    <em>You</em>
</div>

<div class="sentence answer">
   <strong><%= @answer %></strong>
    <em>Your coach</em>
</div>

<div class="backlink">
    <%= link_to "Ask a new question", "/ask" %>
</div>
